@import "tailwindcss";

@import url("https://cdn.jsdelivr.net/npm/computer-modern-web-font@1.0.0/css/cmun-serif.css");

body {
  font-family: "Computer Modern Serif", "CMU Serif", serif !important;
}
