---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="LUNR Aerospace">
  <section class="p-8 sm:p-12 md:p-16 lg:p-24 max-w-4xl mx-auto">
    <a href="/#experience" class="text-sm text-gray-500 hover:underline">
      ← Back to Home
    </a>

    <h1 class="mt-4 text-4xl sm:text-5xl font-bold text-gray-900">
      LUNR Aerospace Corp.
    </h1>

    <p class="mt-2 text-lg text-gray-600">
      Avionics and Controls Intern | May 2026 - Present
    </p>

    <div class="mt-6 text-gray-700 leading-relaxed space-y-4">
      <p>
        [Current internship - Work in Progress]
    </div>

    <figure class="mt-8">
      <img
        src="/lunr2.jpg"
        alt="rocket"
        class="w-full h-auto rounded-md shadow-lg"
      />
      <figcaption class="mt-1 text-sm text-gray-500 text-center">
        LUNR-01
      </figcaption>
    </figure>

  </section>
</Layout>
