---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="UBC Rocket">
  <section class="p-8 sm:p-12 md:p-16 lg:p-24 max-w-4xl mx-auto">
    <a href="/#experience" class="text-sm text-gray-500 hover:underline">
      ← Back to Home
    </a>

    <h1 class="mt-4 text-4xl sm:text-5xl font-bold text-gray-900">
      UBC Rocket Design Team
    </h1>

    <p class="mt-2 text-lg text-gray-600">
      Avionics Engineer | Jan 2026 - Present
    </p>

    <div class="mt-6 text-gray-700 leading-relaxed space-y-4">
      <p>
        UBC Rocket is a student engineering design team dedicated to the design, manufacture, and launch of suborbital rockets. As a member of the avionics group working on the team's yearly international competitions rocket, I develop the electronics and firmware that allow the rocket to fly.
      </p>
    </div>

    <figure class="mt-8">
      <img
        src="/rocket5.png"
        alt="rocket"
        class="w-full h-auto rounded-md shadow-lg"
      />
    </figure>
    <figure class="mt-8">
      <img
        src="/rocket4.png"
        alt="rocket"
        class="w-full h-auto rounded-md shadow-lg"
      />
      <figcaption class="mt-1 text-sm text-gray-500 text-center">
            Rocket design team!
      </figcaption>
    </figure>

    <div class="mt-6 text-gray-700 leading-relaxed space-y-4">
      <p>
        My current project on the team is developing a pyrotechnic PCB board and its firmware. I wrote embedded firmware in C for a custom ignition PCB using an STM32 (ARM Cortex-M0+) MCU, allowing for communication with flight controller and precise logic for critical in-flight parachute deployment.
        
      </p>
    </div>

    <br />

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <img src="/ros2.jpg" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/ros3.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/ros1.jpg" class="w-full aspect-square object-cover rounded-md shadow-lg" />
    </div>


  </section>
</Layout>
