---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="FPGA 32-Bit Calculator">
  <section class="p-8 sm:p-12 md:p-16 lg:p-24 max-w-4xl mx-auto">
    <a href="/#projects" class="text-sm text-gray-500 hover:underline">
      ← Back to Home
    </a>

    <h1 class="mt-4 text-4xl sm:text-5xl font-bold text-gray-900">
      FPGA 32-Bit Calculator
    </h1>


    <div class="flex flex-wrap gap-2 mt-6">
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">FPGA</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">8051 Assembly</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Digital Design</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Terasic DE10-Lite (MAX10 FPGA)</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">VHDL</span>
    </div>

    <p class="mt-4 text-lg text-gray-600 leading-relaxed">
      [WIP]
    </p>

    <br />

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <img src="/ml3.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/ml4.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/ml2.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
    </div>

    <div class="mt-10">
      <h2 class="text-xl font-semibold mb-4" style="color: #00bfff; font-style: italic;">
        Project Outcomes
      </h2>
    
      <ul class="list-disc pl-6 text-gray-700 space-y-2">
        <li>Items</li>
      </ul>
    </div>

    <h2 class="text-xl font-semibold mt-8 mb-4">
      Summary
    </h2>

   <div class="text-gray-700 leading-relaxed space-y-4">
      <p>
        FPGAaaaaaaaaaaaaaaaaa
      </p>
    </div>

    <video class="w-full rounded-md shadow-lg mt-8" muted autoplay playsinline controls>
      <source src="/fpga_vid.mov" type="video/quicktime" />
      Your browser does not support the video tag.
    </video>

    <!-- FPGA clock section -->
    <h2 class="text-xl font-semibold mt-8 mb-4">
      FPGA 12hr Clock
    </h2>

    
    <video class="w-full rounded-md shadow-lg mt-8" autoplay controls style="transform: rotate(-90deg);">
      <source src="/fpga_vidclock.mov" type="video/quicktime" />
      Your browser does not support the video tag.
    </video>
  

  </section>
</Layout>
