---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="ROS Machine Learning Project">
  <section class="p-8 sm:p-12 md:p-16 lg:p-24 max-w-4xl mx-auto">
    <a href="/#projects" class="text-sm text-gray-500 hover:underline">
      ← Back to Home
    </a>

    <h1 class="mt-4 text-4xl sm:text-5xl font-bold text-gray-900">
      ROS Machine Learning Project
    </h1>

    <div class="mt-6">
      <a
        href="https://github.com/avi-guha/ENPH-353-COMPETITION"
        target="_blank"
        class="text-blue-600 underline"
      >
        View GitHub Repository
      </a>
    </div>

    <div class="flex flex-wrap gap-2 mt-6">
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">CNN</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">YOLOv8</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">OpenCV</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">ROS</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Python</span>
    </div>

    <p class="mt-4 text-lg text-gray-600 leading-relaxed">
      Applied machine learning, computer vision, and software techniques to develop and
      train multiple neural networks from scratch to allow a robot to autonomously drive
      through and solve a puzzle in ROS simulation. Achieved perfect score and 2nd place
      in ENPH 353 course competition.
    </p>

    <br />

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <img src="/ml3.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/ml4.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/ml2.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
    </div>

    <div class="mt-8">
      <h2 class="text-xl font-semibold mb-4">
       Project final report
      </h2>
      <p>
        We wrote a report detailing the full process in developing our project. Read it below!
      </p>
      <iframe src="/ENPH_353_Machine_Learning_Project_Report.pdf" class="w-full h-[600px] border rounded-lg"></iframe>
    </div>

  </section>
</Layout>
