---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="Robot Summer">
  <section class="p-8 sm:p-12 md:p-16 lg:p-24 max-w-4xl mx-auto">
    <a href="/#projects" class="text-sm text-gray-500 hover:underline">
      ← Back to Home
    </a>

    <h1 class="mt-4 text-4xl sm:text-5xl font-bold text-gray-900">
      Autonomous Robot Project
    </h1>

    <div class="mt-6">
      <a
        href="https://github.com/emajkic/ENPH_253_Robot"
        target="_blank"
        class="text-blue-600 underline"
      >
        GitHub Repository [Click]
      </a>
    </div>

    <div class="flex flex-wrap gap-2 mt-6">
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Robotics</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">C++</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Circuit design</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Prototyping</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Digital logic</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Mechanical assembly</span>
    </div>

    <p class="mt-4 text-lg text-gray-600 leading-relaxed">
      Developed, prototyped, and built a fully autonomous robot for ENPH 253 competition.
    </p>

    <br />

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <img src="/robot1.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/robot2.jpg" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/robot3.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
    </div>

   
    <div class="mt-10">
      <h2 class="text-xl font-semibold mb-4" style="color: #00bfff; font-style: italic;">
        Project Outcomes
      </h2>
    
      <ul class="list-disc pl-6 text-gray-700 space-y-2">
        <li>Designed, prototyped, and built a fully autonomous robot in a four-person team to navigate a course and retrieve pet stuffies</li>
        <li>Designed and soldered H-Bridge circuits to drive two motors, integrated with a digital phototransistor line-detection circuit and a software PID control loop for accurate line following</li>
        <li>Integrated hardware and software by writing C++ libraries to interface with sophisticated 2D LiDAR sensors for object detection and environment mapping</li>
        <li>Designed and built circuit boards to interface with ESP-32 microcontroller, provide power distribution, and other sensors, allowing robot to interact with environment</li>
        <li>Wrote C++ libraries to interface with all sensors, circuits, and components of robot, including the mechanical claw assembly, and used Git to manage our large code base</li>
      </ul>
    </div>

    <h2 class="text-xl font-semibold mt-8 mb-4">
      Summary
    </h2>

   <div class="text-gray-700 leading-relaxed space-y-4">
      <p>
        In this project, teams of four had 6 weeks to design and build an autonomous robot from scratch to compete in the ENPH 253 course competition. The objective was for robots to navigate through a multi-terrain course and retrieve 8 pet stuffies placed in various locations throughout the course.
      </p>
    </div>

    <div class="mt-8">
      <div class="relative w-full overflow-hidden rounded-lg shadow-lg"
           style="padding-top: 56.25%;">
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/nPeLP5-Fo64?si=V6ftsUnTNGWxJ2_b"
          title="Robot Summer News Clip"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>

     <div class="text-gray-700 leading-relaxed space-y-4 mt-8">
        <p>
          The development of our robot, Marshall, began with idea generation and strategy planning. We then progressed to mechanical and electrical prototyping using CAD models, simple builds, and circuit testing on breadboards. As designs were finalized, components were integrated and software was implemented for control and logic. Final steps were system testing and aesthetic refinements.
        </p>
      </div>

     <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-8">
      <figure>
        <div class="w-full overflow-hidden rounded-md shadow-lg">
          <img
            src="/rfig3.png"
            alt="robot"
            class="w-full h-full object-cover"
          />
        </div>
        <figcaption class="mt-1 text-sm text-gray-500 text-center">
          Fig. 1: Final robot: top
        </figcaption>
      </figure>
    
      <figure>
        <div class="w-full overflow-hidden rounded-md shadow-lg">
          <img
            src="/rfig4.png"
            alt="robot"
            class="w-full h-full object-cover"
          />
        </div>
        <figcaption class="mt-1 text-sm text-gray-500 text-center">
          Fig. 2: Final robot: top
        </figcaption>
      </figure>
    </div>

    <figure class="mt-8">
      <img src="/rfig1.png" alt="robot" class="w-full rounded-md shadow-lg" />
      <figcaption class="mt-1 text-sm text-gray-500 text-center">
        Fig. 3: Final robot: back
      </figcaption>
    </figure>

    <figure class="mt-8">
      <img src="/rfig2.png" alt="robot" class="w-full rounded-md shadow-lg" />
      <figcaption class="mt-1 text-sm text-gray-500 text-center">
        Fig. 4: Final robot: side
      </figcaption>
    </figure>

     <div class="text-gray-700 leading-relaxed space-y-4 mt-8">
        <p>
          My main role on the team consisted of electrical and software development. Me and my teammate Abi worked together to develop and test H-Bridges (Fig. 5-9) to allow for precise motor control. Abi designed a compact PCB version of the final circuit which I soldered and prepared.         
        </p>
     </div>

      <figure class="mt-8">
        <img src="/rfig5.png" alt="robot" class="w-full rounded-md shadow-lg" />
        <figcaption class="mt-1 text-sm text-gray-500 text-center">
          Fig. 5: H-Bridge Circuit Design
        </figcaption>
      </figure>

      <figure class="mt-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="aspect-square w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig6.png"
              alt="H-Bridge PCB design"
              class="w-full h-full object-cover"
            />
          </div>
      
          <div class="aspect-square w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig7.png"
              alt="H-Bridge PCB design"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      
        <figcaption class="mt-2 text-sm text-gray-500 text-center">
          Fig. 6-7: H-Bridge PCB design (KiCAD)
        </figcaption>
      </figure>

      <figure class="mt-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="aspect-square w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig8.png"
              alt="H-Bridge PCB design"
              class="w-full h-full object-cover"
            />
          </div>
      
          <div class="aspect-square w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig9.png"
              alt="H-Bridge PCB design"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      
        <figcaption class="mt-2 text-sm text-gray-500 text-center">
          Fig. 8-9: H-Bridge final PCBs
        </figcaption>
      </figure>

     <div class="text-gray-700 leading-relaxed space-y-4 mt-8">
        <p>
          The H-bridges were integrated with a digital phototransistor circuit that I designed (Figure 10). The phototransistor circuit operated by conditioning the phototransistor outputs and comparing them to a setpoint threshold using LM311 comparators to distinguish between light and dark regions. The resulting digital signals were processed by software-based PID control, which closed the feedback loop between the sensors and the motors, enabling stable and accurate line-following.
        </p>
     </div>

      <figure class="mt-8">
        <img src="/rfig10.png" alt="robot" class="w-full rounded-md shadow-lg" />
        <figcaption class="mt-1 text-sm text-gray-500 text-center">
          Fig. 10: Phototransistor reflectance circuit
        </figcaption>
      </figure>

     <div class="text-gray-700 leading-relaxed space-y-4 mt-8">
        <p>
          Other circuits of interest include ones made for power distribution (battery integration, buck converters) and a small motherboard to interface with our microcontroller, the ESP-32 (Figure 11-12). We also designed and assembled circuits to process Hall sensor outputs for magnetic field readings.
        </p>
     </div>

      <figure class="mt-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="aspect-square w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig11.png"
              alt="esp32"
              class="w-full h-full object-cover"
            />
          </div>
      
          <div class="aspect-square w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig12.png"
              alt="esp32"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      
        <figcaption class="mt-2 text-sm text-gray-500 text-center">
          Fig. 11-12: ESP32 Microcontroller Motherboard
        </figcaption>
      </figure>

      <figure class="mt-8">
        <img src="/rfig13.png" alt="robot" class="w-full rounded-md shadow-lg" />
        <figcaption class="mt-1 text-sm text-gray-500 text-center">
          Fig. 13: Electrical integration inside robot
        </figcaption>
      </figure>

     <div class="text-gray-700 leading-relaxed space-y-4 mt-8">
        <p>
          Our other two teammates worked together on the mechanical aspect of the robot. This included modelling and building our robot’s chassis and reverse-kinematics claw (polar coordinates). The claw was integrated through a gear system and rotary encoder circuit which was used to determine the claw’s relative position.
        </p>
     </div>

      <figure class="mt-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig14.png"
              alt="claw"
              class="w-full h-full object-cover"
            />
          </div>
      
          <div class="w-full overflow-hidden rounded-md shadow-lg">
            <img
              src="/rfig15.png"
              alt="claw"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      
        <figcaption class="mt-2 text-sm text-gray-500 text-center">
          Fig. 14-15: Claw functionality and integration
        </figcaption>
      </figure>

      <figure class="mt-8">
        <img src="/rfig16.png" alt="robot" class="w-full rounded-md shadow-lg" />
        <figcaption class="mt-1 text-sm text-gray-500 text-center">
          Fig. 16: Claw gearing system
        </figcaption>
      </figure>

     <div class="text-gray-700 leading-relaxed space-y-4 mt-8">
        <p>
          All C++ libraries written to interface with sensors and hardware can be found in the Github repo at the top of the page.
        </p>
     </div>

     <div class="text-gray-700 leading-relaxed space-y-4 mt-2">
        <p>
          Overall, this was an intense but rewarding project that strengthened my skills in embedded systems, circuit design, and hardware-software integration while emphasizing the importance of iterative testing and teamwork.
        </p>
     </div>

</Layout>
