---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="Robot Summer">
  <section class="p-8 sm:p-12 md:p-16 lg:p-24 max-w-4xl mx-auto">
    <a href="/#projects" class="text-sm text-gray-500 hover:underline">
      ← Back to Home
    </a>

    <h1 class="mt-4 text-4xl sm:text-5xl font-bold text-gray-900">
      Autonomous Robot Project - 'Robot Summer'
    </h1>

    <div class="mt-6">
      <a
        href="https://github.com/emajkic/ENPH_253_Robot"
        target="_blank"
        class="text-blue-600 underline"
      >
        GitHub Repository [Click]
      </a>
    </div>

    <div class="flex flex-wrap gap-2 mt-6">
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Robotics</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">C++</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Circuit design</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Prototyping</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Digital logic</span>
      <span class="px-3 py-1 bg-gray-900 text-white rounded-lg text-sm">Mechanical assembly</span>
    </div>

    <p class="mt-4 text-lg text-gray-600 leading-relaxed">
      Developed, prototyped, and built a fully autonomous robot for ENPH 253 competition.
    </p>

    <br />

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <img src="/robot1.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/robot2.jpg" class="w-full aspect-square object-cover rounded-md shadow-lg" />
      <img src="/robot3.png" class="w-full aspect-square object-cover rounded-md shadow-lg" />
    </div>

   
    <div class="mt-10">
      <h2 class="text-xl font-semibold mb-4" style="color: #00bfff; font-style: italic;">
        Project Outcomes
      </h2>
    
      <ul class="list-disc pl-6 text-gray-700 space-y-2">
        <li>Designed, prototyped, and built a fully autonomous robot in a four-person team to navigate a course and retrieve pet stuffies</li>
        <li>Designed and soldered H-Bridge circuits to drive two motors, integrated with a digital phototransistor line-detection circuit and a software PID control loop for accurate line following</li>
        <li>Integrated hardware and software by writing C++ libraries to interface with sophisticated 2D LiDAR sensors for object detection and environment mapping</li>
        <li>Designed and built circuit boards to interface with ESP-32 microcontroller, provide power distribution, and other sensors, allowing robot to interact with environment</li>
        <li>Wrote C++ libraries to interface with all sensors, circuits, and components of robot, including the mechanical claw assembly, and used Git to manage our large code base</li>
      </ul>
    </div>

    <h2 class="text-xl font-semibold mt-8 mb-4">
      Summary
    </h2>

   <div class="text-gray-700 leading-relaxed space-y-4">
      <p>
        In this project, teams of four had 6 weeks to design and build an autonomous robot from scratch to compete in the ENPH 253 course competition. The objective was for robots to navigate through a multi-terrain course and retrieve 8 pet stuffies placed in various locations throughout the course.
      </p>
    </div>

    <div class="mt-8">
      <div class="relative w-full overflow-hidden rounded-lg shadow-lg"
           style="padding-top: 56.25%;">
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/nPeLP5-Fo64?si=V6ftsUnTNGWxJ2_b"
          title="Robot Summer News Clip"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>

</Layout>
